body {
	background-color: #F8FFE5;
}
h1 {
	color: 1B9AAA;
	font-family: "PT serif", serif;
	font-size:50px;

}

p,li,a{
	font-family:"Karla", serif;
	font-size:18px;


}


img{width:700px;}
06D6A0
1B9AAA
DB5461
49306B